.recipe-card {
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--background-color);
  font-family: 'Lora', serif;
}
.recipe-card-image {
  width: 100%;
  height: 250px;
}

.recipe-name {
  font-size: 1em;
  width: 95%;

  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin: 0.5em 0.25em;
}

.recipe-desc {
  font-size: 0.9em;
  color: var(--text-light);
  line-height: 16px;
  margin-top: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  padding: 0 20px;
}
